version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
    groups:
      python-packages:
        patterns:
          - "*"
    ignore:
      - dependency-name: '*'
        update-types: [ "version-update:semver-patch" ]
    versioning-strategy: increase-if-necessary