numpy~=1.26.4
networkx~=3.3
matplotlib~=3.9.1
# sudo apt install python3.11-dev graphviz libgraphviz-dev pkg-config
pygraphviz~=1.13
pandas~=2.2.2
tabulate~=0.9.0
# sudo apt install glpk-utils
PuLP~=2.9.0
docplex~=2.27.239
cspy~=1.0.3
# spar~=0.0.7
scipy~=1.14.0
Click~=8.1.7
psutil~=6.0.0
pydoc-markdown~=4.8.2
pytest~=8.2.2
fitter~=1.7.1