### Core ###
numpy~=2.4.1
networkx~=3.6.1
matplotlib~=3.10.9
pandas~=3.0.2
# sudo apt install glpk-utils
pulp~=3.3.0
scipy~=1.17.1
cspy>=0.1.2
### Test ###
pytest
# sudo apt install python3.14-dev graphviz libgraphviz-dev pkg-config
pygraphviz~=1.14
tabulate
click~=8.3.3
psutil~=7.2.2
### Package ###
twine>=6.1.0
packaging>=26.2
build
### Ext ###
pydoc-markdown
docplex~=2.32.264
#fitter~=1.7.1
#spar~=0.0.7