### Core ###
numpy~=2.3.4
networkx~=3.6
matplotlib~=3.10.6
pandas~=2.3.2
# sudo apt install glpk-utils
pulp~=3.3.0
scipy~=1.16.3
cspy>=0.1.2
### Test ###
pytest
# sudo apt install python3.14-dev graphviz libgraphviz-dev pkg-config
pygraphviz~=1.14
tabulate~=0.9.0
click~=8.3.0
psutil
### Package ###
twine>=6.1.0
packaging>=24.2
build
### Ext ###
pydoc-markdown
docplex~=2.30.251
#fitter~=1.7.1
#spar~=0.0.7